<!DOCTYPE type>
<html>

<head>
    <h1> About Us </h1>
    <style type="text/css">

    </style>
</head>

<body>
    <p>Sloan Dala is a women’s clothing brand that invites you to you to express your true African spirit through sophisticated clothing inspired by ancient African culture and modern styling. Sloan Dala was founded by Zikhona Gwadiso – an emerging creative
        born in Centane, Nxaxo B. The name was inspired by her grandfather Sloan “Zweliwinile” Ngamntwini and her clan name “Dala” meaning to “create”. Dala is the forefather of every generation that came after. Together, the name carries a rich culture
        that exudes truth. When you know yourself, you are enlightened, the brand seeks to create a conversation about African culture through clothing. Through her life journey, Zikhona learned that she was invisible without the identify of her grandfather.
        She discovered that, when she identifies herself as Sloan’s grandchild, suddenly older people would know her story which created a sense of belonging, creating a curiosity within her to learn more about her culture and who she is as a Xhosa young
        woman. Zikhona Gwadiso gets to visit home during the December holidays, where she spends time with her family in the rural area of Ntsangane in Nxaxho. In 2016, Zikhona was determined to learn about her culture through her grandmother, dedicated
        to come back in the cities with a little bit of knowledge about the Xhosa attire for women and accessories. Her grandmother presented her with “iziphanga” and Isikhubusi. Iziphanga are beads made for young Xhosa maidens to wear around the arm.
        Isikhubusi that her grandmother presented her with belonged to her great grandmother, meaning it more than 100 years old. The well thought design of Isikhubusi inspired the young creative to develop a range purely inspired by the beauty of isikhubusi
        and the beading she was gifted with by her grandmother. “He who knows others is wise; he who knows himself is enlightened.”.</p>

    <div id "picture">
        <img src="images/about.jpg">
    </div>
</body>


</html>
