<!DOCTYPE html>
<html>

<head>

    <title>Sloan Dala</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <img src="images/17630143_1343438439070265_6833053471861972769_n (1).png" alt="hh">
    <h1>SLOAN DALA</h1>
    <h2>AN OUTFIT TO EXUDE INDIVIDUAL TRUTH</H2>

</head>

<body>

    <ul class="blocks">
        <li>
            <a href="/home">Home</a></li>

        <li><a href="/about">About</a></li>

        <li><a href="/portfolio">Portfolio</a></li>

        <li><a href="/journal">Journal</a></li>

        <li><a href="/contact">Contact Us</a></li>
    </ul>
</body>
</html
